<!-- <h6> {{employee | json}} </h6> -->
<div class="col-sm-6">
  <!-- Raising event on butoon click -->
  <div class="card" style="width: 18rem;" (click)="raiseNotifyEvent()">
    <div class="card-body">
      <img class="card-img-top" style="width: 70%; height: 4cm;" [src]="employee.photo" alt="Card image cap"><br/><br/>
      <h5 class="card-title">{{employee.code | uppercase}}</h5>
      <p class="card-text">

      </p>

      <div [hidden]="hideDetails">
        <ul>

          <li>
            Name - {{employee.name | uppercase}}
          </li>

          <li>
            Gender - {{employee.gender}}
          </li>

          <li>
            Salary - {{employee.annualSalary | currency:'INR' }}
          </li>

          <li>
            Date of Birth - {{employee.dateOfBirth | date }}
          </li>

        </ul>
      </div>

      <a href="#" class="btn btn-primary">Edit</a>
    </div>
  </div>
</div>
