<div>

    <h1> Title - {{title}} </h1>
    <h2> Sum - {{ 1 + 1 }} </h2>
    <h2> String - {{ "john".toUpperCase()}} </h2>
    <h2> Array - {{ [10, 20, 30][1] }} </h2>
    <h2> Person Details : </h2>
    <ul>
        <li> <h4> {{person?.id}} </h4> </li>
        <li> <h4> {{person?.name}} </h4> </li>
        <li> <h4> {{person?.age}} </h4> </li>
        <li> <h4> {{person?.address}} </h4> </li>
    </ul>
    <!-- <h2> Person Details : {{ person | json }}</h2> -->
    <h2> Second object from array : </h2>
    <ul>
        <li> <h4> {{personArray[1].id}} </h4> </li>
        <li> <h4> {{personArray[1].name | uppercase}} </h4> </li>
        <li> <h4> {{personArray[1].age}} </h4> </li>
        <li> <h4> {{personArray[1].address}} </h4> </li>
    </ul>

    <button (click)="getMessage()" [disabled] = "isDisabled">Message</button>
    <h2> {{message}} </h2> 
    <h1 [innerHTML] = "title"></h1>
    <!-- <h2> Today's Date - {{ new Date() | date }}</h2> -->

</div>